@media (max-width: 1000px) {
    .play_area{
        width: 50vw;
    }
    .parent {
        width: 36vw;
    }
    .play_box{
        width: 12vw;
    }
    .btn_div{
        width: 100%;
        justify-content: center;
    }
    /* .btn1, .btn2{
        width: 20vw;
    } */
    .modal, .escape_alert{
        width: 40vw;
        transform: translateX(30vw);
    }
    .player1, .player2{
        width: 100%;
        left: 30%;
    }
    .winner_popup_wrapper{
        transform: translateX(22.5vw);
    }
    .winner_Popup{
        width: 55vw;
    }
    .game_over_txt{
        left: -7vw;
        /* top: 1vh; */
        width: 30vw;
    }
}

@media (max-width: 850px) {
    .play_area{
        width: 60vw;
    }
    .play_box{
        width: 15vw;
    }
    .parent {
        width: 45vw;
    }
    .modal, .escape_alert{
        width: 45vw;
        transform: translateX(28vw);
    }
}
@media (max-width: 800px) {
    .winner_popup_wrapper{
        transform: translateX(20vw);
    }
    .winner_Popup{
        width: 60vw;
    }
    .game_over_txt{
        left: -7vw;
        width: 35vw;
    }
}
@media (max-width: 750px) {
    .play_area{
        width: 70vw;
    }
    .play_box{
        width: 17vw;
    }
    .parent {
        width: 51vw;
    }
    .modal, .escape_alert{
        width: 50vw;
        transform: translateX(25vw);
    }
    .winner_popup_wrapper{
        transform: translateX(17vw);
    }
    .winner_Popup{
        width: 65vw;
    }
    .game_over_txt{
        left: -9vw;
        width: 40vw;
    }
}


@media (max-width: 650px) {
    .modal, .escape_alert{
        width: 55vw;
        transform: translateX(22vw);
    }
    .winner_popup_wrapper{
        transform: translateX(13vw);
    }
    .winner_Popup{
        width: 75vw;
    }
    .game_over_txt{
        width: 45vw;
    }
}

@media (max-width: 600px) {
    .play_area{
        width: 80vw;
    }
    .play_box{
        width: 20vw;
    }
    .parent {
        width: 60vw;
    }
    
    .modal, .escape_alert{
        width: 60vw;
        transform: translateX(20vw);
    }

    
    .winner_popup_wrapper{
        transform: translateX(10vw);
    }
    .winner_Popup{
        width: 80vw;
    }
    .game_over_txt{
        width: 45vw;
    }
}

@media (max-width: 550px) {
    .game_over_txt{
        width: 60vw;
        left: -14vw;
        margin-top: 2vh;
    }
    
    .modal, .escape_alert{
        width: 65vw;
        transform: translateX(17vw);
    }
    .winner_popup_wrapper{
        transform: translateX(5vw);
    }
    .winner_Popup{
        width: 90vw;
    }
}
@media (max-width: 500px) {
    .play_area{
        width: 90vw;
    }
    .play_box{
        width: 25vw;
    }
    .parent {
        width: 75vw;
    }
}

@media (max-width: 450px) {
    .play_area{
        width: 90vw;
    }
    .play_box{
        width: 30vw;
        height: 17vh;
    }
    .parent {
        width: 90vw;
    }    
    .modal, .escape_alert{
        width: 75vw;
        transform: translateX(12.5vw);
    }
    
    .game_over_txt{
        width: 67vw;
    }
}
@media (max-width: 370px) {
    .play_area{
        width: 95vw;
    }
    .parent {
        width: 96vw;
    }
    .play_box{
        width: 32vw;
        height: 17vh;
    }
    .modal, .escape_alert{
        width: 85vw;
        transform: translateX(7.5vw);
    }
}
